<div class="container">
    <div class="page">
      <h1>Welcome to the secret part</h1>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis tenetur quibusdam sed ea? Maxime, sapiente. Velit libero laboriosam voluptatem officia veritatis similique perferendis voluptatum voluptates qui vero sequi, amet ut.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis tenetur quibusdam sed ea? Maxime, sapiente. Velit libero laboriosam voluptatem officia veritatis similique perferendis voluptatum voluptates qui vero sequi, amet ut.
</p>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis tenetur quibusdam sed ea? Maxime, sapiente. Velit libero laboriosam voluptatem officia veritatis similique perferendis voluptatum voluptates qui vero sequi, amet ut.
</p>  
    </div>

</div>
